button {
  outline: none;
  border: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

.confirm * {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.confirm {
    background-color: rgba(240, 248, 255, 0.842);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 2rem 4rem;
  }
  .confirm-title {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .confirm-nav {
    display: flex;
    gap: 2rem;
  }
  .confirm-btn {
    padding: 5px 15px;
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 7.5001875047px;
    transition: 0.3s ease transform, 0.3s ease background-color;
  }
  .confirm-btn:hover {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.685);
  }
  .confirm-wrapper {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }