
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

.custom_alert * {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.custom_alert {
    position: absolute;
    display: inline-block;
    margin: auto;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
  }

  .custom_alert-content {
    position: relative;

    background-color: rgba(0, 0, 0, 0.856);
    width: 500px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .custom_alert-text {
    color: aliceblue;
    font-weight: 300;
  }

@keyframes puff-in-center {
    0% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
  }   

.puff-in-center {
	animation: puff-in-center 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}